body {
    background-color: #e9f2fd;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #222222;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #4287f5;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 30px;
}

.label {
    font-weight: bold;
    color: #222222;
}

/* Table Styles */
.table {
    margin-bottom: 30px;
    width: 98.5%;
}

.table th {
    background-color: #4287f5;
    color: #ffffff;
}

.table td {
    background-color: #e6f0ff;
    text-align: center;
}

/* Search Input Styles */
.mb-3 {
    margin-bottom: 15px;
}

.form-control {
    width: 97%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f2f8ff;
}

/* Action Button Styles */
.btn {
    display: inline-block;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #4287f5;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #316fe6;
}

.btn-primary {
    background-color: #4287f5;
}

.btn-info {
    background-color: #17a2b8;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-success {
    background-color: #28a745;
}

.btn-primary:hover,
.btn-info:hover,
.btn-danger:hover,
.btn-success:hover {
    filter: brightness(1.2);
}

.logout-link {
    text-align: right;
}