<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>

<body>
    <h3>Admin Page</h3>
    <a th:href="@{/login}">LOGOUT</a>
    <br><br><br>
    <h2><a th:href="@{/user/list}">Manage Users</a></h2>
    <h2><a th:href="@{/admin/list}">Manage Admin</a></h2>
    <h2><a th:href="@{/admin/student/list}">Manage Students</a></h2>
    <h2><a th:href="@{/admin/lecture/list}">Manage Lecturers</a></h2>
    <h2><a th:href="@{/admin/course/list}">Manage Courses</a></h2>
    <h2><a th:href="@{/admin/enrollment/list}">Manage Enrollment</a></h2>
</body>

</html>