<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header>
    <div th:include="adminPage.html"></div>
  </header>
  <h1>Welcome to Admin Page!</h1>
  <div class="img-container">
    <img src="image/admin.jpg" alt="Admin" class="img-fluid" style="max-width: 45%;">
  </div>
</body>
</html>
