<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="/css/create.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <title>Create Class</title>
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
<header>
    <div th:include="adminPage.html"></div>
</header>
<form th:action="@{/admin/course/class/create}" th:object="${courseClass}" method="post">
    <button class="icon-button" onclick="goBack()">
        <i style="font-size:30px" class="fa">&#xf137;</i>
    </button>
    <h1>Create Class</h1>
    <input type="hidden" name="course.courseId" th:value="${course.courseId}" />

    <label for="roomNum">Room Number:</label>
    <input type="text" id="roomNum" th:field="*{roomNum}" required/><br/>

    <label for="size">Size:</label> <span th:if="${#fields.hasErrors('size')}" th:errors="*{size}"
                                          style="color: #bf1111; font-size: 12px;"></span>
    <input type="text" id="size" th:field="*{size}" required/><br/>

    <label for="lecturer">Lecturer:</label>
    <select id="lecturer" name="lecturer" required>
        <option th:each="l : ${lecturers}" th:value="${l.lecturerId}" th:text="${l.firstName + ' ' + l.lastName}"></option>
    </select><br/><br/>

    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" th:field="*{startDate}" required
           th:value="${#dates.format(courseClass.startDate, 'yyyy-MM-dd')}"/><br/><br/>


    <input type="submit" value="Create"/>
</form>
<script>
    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>