<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Create Course</title>
  <link rel="stylesheet" href="/css/create.css">
</head>
<body>
  <header>
    <div th:include="adminPage.html"></div>
</header>
<h1>Create Course</h1>
<form th:action="@{/admin/course/create}" th:object="${course}" method="post">
  <label for="courseNum">Course Number:</label>
  <input type="text" id="courseNum" th:field="*{courseNum}" required/><br/>

  <label for="name">Name:</label>
  <input type="text" id="name" th:field="*{name}" required/><br/>

  <label for="description">Description:</label>
  <input type="text" id="description" th:field="*{description}" required/><br/>

  <label for="credits">Credits:</label>
  <input type="text" id="credits" th:field="*{credits}" required/><br/>

  <label for="duration">Duration:</label>
  <input type="text" id="duration" th:field="*{duration}" required/><br/>

  <input type="submit" value="Create"/>
  <br><br>
<button onclick="goBack()">Back</button>
</form>

<script>
  function goBack() {
      window.history.back();
  }
</script>
</body>
</html>