<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<head>
    <title>Create Class</title>
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
<h1>Create Course</h1>
<form th:action="@{/admin/course/class/create}" th:object="${courseClass}" method="post">
    <input type="hidden" name="course.courseId" th:value="${course.courseId}" />

    <label for="roomNum">Room Number:</label>
    <input type="text" id="roomNum" th:field="*{roomNum}" required/><br/>

    <label for="size">Size:</label>
    <input type="text" id="size" th:field="*{size}" required/><br/>

    <label for="lecturer">Lecturer:</label>
    <select id="lecturer" name="lecturer" required>
        <option th:each="l : ${lecturers}" th:value="${l.lecturerId}" th:text="${l.firstName + ' ' + l.lastName}"></option>
    </select><br/>

    <label for="startDate">Start Date:</label>
    <input type="text" id="startDate" th:field="*{startDate}" required/><br/>

    <script>
    $(function() {
      // Initialize the datepicker
      $("#startDate").datepicker();

      // Set the desired date format
      $("#startDate").datepicker("option", "dateFormat", "yy-mm-dd 00:00:00.000000");
    });
    </script>




    <input type="submit" value="Create"/>
</form>
</body>
</html>