<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Team 6 Java CA</title>
</head>
<body>
  <h3>Create New Admin</h3>
  <form th:action="@{/admin/create}" method="post"
      th:object="${admin}">
    <table>
      <tbody>
        <tr>
          <td>First Name:</td>
          <td>
            <input type="text" th:field="*{firstName}" autocomplete="off"/>
          </td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>
              <input type="text" th:field="*{lastName}" autocomplete="off"/>
            </td>
          </tr>
        <tr>
          <td>Email:</td>
          <td>
            <input type="text" th:field="*{email}" autocomplete="off"/>
          </td>
        </tr>
        <tr>
          <td>Contact Number:</td>
          <td>
            <input type="text" th:field="*{contactNo}" autocomplete="off"/>
          </td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>
            <input type="text" th:field="*{address}" />
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        
        <tr>
          <td></td>
          <td><input type="submit" value="Create" /></td>
        </tr>
      </tbody>
    </table>
  </form>
<body>
</html>
