<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Enrollment List</title>
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <header>
        <div th:include="adminPage.html"></div>
    </header>
    
    <div class="container">
        <h1>Enrollment List</h1>
        <div th:if="${param.message}" class="alert alert-success" role="alert">
            <p th:text="${param.message}"></p>
        </div>
        <div class="mb-3">
            <label for="searchInput">Search:</label>
            <input type="text" class="form-control" id="searchInput" placeholder="Enter keywords" oninput="filterTable()">
        </div>

        <table id="enrollmentTable" class="table table-striped">      
            <thead>
                <tr>
                    <th onclick="sortTable('enrollmentTable', 0)"><button class="transparent-btn"><span class="sort-text">Enrollment ID</span> <i class="fas fa-sort"></i></button></th>
                    <th onclick="sortTable('enrollmentTable', 1)"><button class="transparent-btn"><span class="sort-text">Student ID</span> <i class="fas fa-sort"></i></button></th>
                    <th onclick="sortTable('enrollmentTable', 2)"><button class="transparent-btn"><span class="sort-text">Student Username</span> <i class="fas fa-sort"></i></button></th>
                    <th onclick="sortTable('enrollmentTable', 3)"><button class="transparent-btn"><span class="sort-text">Class ID</span> <i class="fas fa-sort"></i></button></th>
                    <th onclick="sortTable('enrollmentTable', 4)"><button class="transparent-btn"><span class="sort-text">Status</span> <i class="fas fa-sort"></i></button></th>
                    <th>Actions</th>
                </tr>
            </thead>            
            
            <tbody>
                <!-- Iterate over the enrollments and display their information -->
                <tr th:each="enrollment : ${enrollments}" id="enrollmentRow">
                    <td th:text="${enrollment.enrollmentId}"></td>
                    <td th:text="${enrollment.student.studentId}"></td>
                    <td th:text="${enrollment.student.user.username}"></td>
                    <td th:text="${enrollment.courseClass.classId}"></td>
                    <td th:text="${enrollment.enrollmentStatus}"></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-content" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" th:href="@{{enrollmentId}/detail(enrollmentId=${enrollment.enrollmentId})}">View</a>
                                <a class="dropdown-item" th:href="@{{enrollmentId}/status(enrollmentId=${enrollment.enrollmentId})}">Update</a>
                                <a class="dropdown-item" th:href="@{student/{enrollmentId}/remove(enrollmentId=${enrollment.enrollmentId})}">Remove</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap.min.js"></script>
        <script>
            function filterTable() {
                // Retrieve the search input value
                const searchInput = document.querySelector('#searchInput').value.toLowerCase();
                
                // Retrieve all enrollment rows
                const enrollmentRows = document.querySelectorAll('#enrollmentRow');
                
                // Loop through enrollment rows and check if they match the search input
                enrollmentRows.forEach(function(row) {
                    // Retrieve the enrollment information from the row
                    const enrollmentId = row.cells[0].textContent.toLowerCase();
                    const studentId = row.cells[1].textContent.toLowerCase();
                    const courseId = row.cells[2].textContent.toLowerCase();
                    const classId = row.cells[3].textContent.toLowerCase();
                    const status = row.cells[4].textContent.toLowerCase();
                    
                    // Check if any of the enrollment information matches the search input
                    if (
                        enrollmentId.includes(searchInput) ||
                        studentId.includes(searchInput) ||
                        courseId.includes(searchInput) ||
                        classId.includes(searchInput) ||
                        status.includes(searchInput)
                    ) {
                        // Show the row if it matches the search input
                        row.style.display = '';
                    } else {
                        // Hide the row if it doesn't match the search input
                        row.style.display = 'none';
                    }
                });
            }

            function confirmDelete() {
                return confirm('Are you sure you want to delete this enrollment?');
            }

            $(document).ready(function() {
                $('#enrollmentTable').DataTable({
                    searching: false
                });
            });
        </script>
    </div>
</body>
</html>
