<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Enrollment List</title>
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap.min.css">
</head>
<body>
    <header>
        <div th:include="adminPage.html"></div>
    </header>
    
    <div class="container">
        <h1>Enrollment List</h1>
        <div th:if="${param.message}" class="alert alert-success" role="alert">
            <p th:text="${param.message}"></p>
        </div>

        <table id="enrollmentTable" class="table table-striped">      
            <thead>
                <tr>
                    <th>Enrollment ID</th>
                    <th>Student ID</th>
                    <th>Student Username</th>
                    <th>Class ID</th>
                    <th>Status</th>
                    <th>Submitted Date</th>
                    <th>Actions</th>
                </tr>
            </thead>            
            
            <tbody>
                <!-- Iterate over the enrollments and display their information -->
                <tr th:each="enrollment : ${enrollments}">
                    <td th:text="${enrollment.enrollmentId}"></td>
                    <td th:text="${enrollment.student.studentId}"></td>
                    <td th:text="${enrollment.student.user.username}"></td>
                    <td th:text="${enrollment.courseClass.classId}"></td>
                    <td th:text="${enrollment.enrollmentStatus}"></td>
                    <td>
                        <span th:text="${#temporals.format(enrollment.submittedDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                            </svg>
                            </button>
                            <div class="dropdown-content" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" th:href="@{{enrollmentId}/detail(enrollmentId=${enrollment.enrollmentId})}">View</a>
                                <a class="dropdown-item" th:href="@{{enrollmentId}/status(enrollmentId=${enrollment.enrollmentId})}">Update</a>
                                <a class="dropdown-item" th:href="@{student/{enrollmentId}/remove(enrollmentId=${enrollment.enrollmentId})}">Remove</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#enrollmentTable').DataTable({
                    dom: '<"top"B>fltr<"bottom"ip><"clear">',
                    buttons: [
                        'copy',
                        'excel',
                        'csv',
                        'pdf'
                    ],
                    columnDefs: [
                        { targets: [0, 1, 2, 3, 4, 5], orderable: true },
                        { targets: '_all', orderable: false }
                    ]
                });
            });
        </script>
    </div>
</body>
</html>
