<!DOCTYPE html>
<html>
<br>
<br>

<head>
	<title>Student details</title>
	<link rel="stylesheet" href="/css/list.css">
	 
</head>

<body>

	<div class="container"  style="padding-left: 20px;">
		<h1>Student Details</h1>
		<div class="details">
			<label>StudentID:</label>
			<span th:text="${student.studentId}"></span>
		</div>
		<div class="details">
			<label>First Name:</label>
			<span th:text="${student.firstName}"></span>
		</div>
		<div class="details">
			<label>Last Name:</label>
			<span th:text="${student.lastName}"></span>
		</div>
		<div class="details">
			<label>Email:</label>
			<span th:text="${student.email}"></span>
		</div>
		<div class="details">
			<label>Contact No:</label>
			<span th:text="${student.contactNo}"></span>
		</div>
		<div class="details">
			<label>Address:</label>
			<span th:text="${student.address}"></span>
		</div>
		<div class="details">
			<label>GPA:</label>
			<span th:text="${student.gpa}"></span>
		</div>

		<table class="table table-striped table-smaller" id="detailStdTable">
			<thead>
				<tr>
					<th>Class Id</th>
					<th>Enrolment Id</th>
					<th>Enrollment Status</th>
					<th>Score</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="enroll : ${enrollList}" id="enrollRow">
					<td th:text="${enroll.courseClass.classId}"></td>
					<td th:text="${enroll.enrollmentId}"></td>
					<td th:text="${enroll.enrollmentStatus}"></td>
					<td th:text="${enroll.score}"></td>
				</tr>
			</tbody>
		</table>
		<br><br>
		<button onclick="goBack()">Back</button>
		<script>

			function goBack() {
				window.history.back();
			}
		</script>



	</div>
</body>

</html>