<!DOCTYPE html>
<html>
<head>
    <title>Lecturer</title>
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <header>
        <div th:include="lecturer-home-page.html"></div>
    </header>
    <div class="container" >
        <h1> Class List </h1>

        <div class="mb-3">
            <label for="searchInput">Search:</label>
            <input type="text" class="form-control" id="searchInput" placeholder="Enter keywords" oninput="filterTable()">
        </div>

        <table class="table table-striped"; id="classTable">
            <thead>
                <tr>
                    <th>Class ID</th>
                    <th>Class Room Number</th>
                    <th>Class Start Date</th>
                    <th>Course ID</th>
                    <th>Course Number</th>
                    <th>Course Name</th>
                    <th>Course Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterate over the admins and display their information -->
                <tr th:each="courseClass, index : ${courseClassList}" id="classRow">
                    <td th:text="${courseClass.classId}"></td>
                    <td th:text="${courseClass.roomNum}"></td>
                    <td th:text="${courseClass.startDate}"></td>
                    <td th:text="${courseIdList.get(index.index)}"></td>
                    <td th:text="${courseNumList.get(index.index)}"></td>
                    <td th:text="${courseNameList.get(index.index)}"></td>
                    <td th:text="${courseDescriptionList.get(index.index)}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/lecturer/class/} + ${courseClass.classId}">View Class</a>
                    </td>
                </tr>
            </tbody>
        </table>
		<br><br>
		<button onclick="goBack()">Back</button>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap.min.js"></script>
		<script>
			function filterTable() {
				// Retrieve the search input value
				const searchInput = document.querySelector('#searchInput').value.toLowerCase();
	
				const classRows = document.querySelectorAll('#classRow');
	
				// Loop through admin rows and check if they match the search input
				classRows.forEach(function(row) {
					// Retrieve the admin information from the row
		            const classId = row.cells[0].textContent.toLowerCase();
		            const roomNum = row.cells[1].textContent.toLowerCase();
		            const startDate = row.cells[2].textContent.toLowerCase();
		            const courseNum = row.cells[3].textContent.toLowerCase();
		            const courseName = row.cells[4].textContent.toLowerCase();
		            const courseDescription = row.cells[5].textContent.toLowerCase();
	
					// Check if any of the admin information matches the search input
		            if (
		                classId.includes(searchInput) ||
		                roomNum.includes(searchInput) ||
		                startDate.includes(searchInput) ||
		                courseNum.includes(searchInput) ||
		                courseName.includes(searchInput) ||
		                courseDescription.includes(searchInput)
		            ) {
		                // Show the row if it matches the search input
		                row.style.display = '';
		            } else {
		                // Hide the row if it doesn't match the search input
		                row.style.display = 'none';
		            }
				});
			}
			function goBack() {
				window.history.back();
			}
            $(document).ready(function() {
                $('#classTable').DataTable({
                    searching: false
                });
            });
		</script>
	</div>
</body>
</html>
