<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <title>View Courses Enrollment</title>
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <header>
        <div th:include="lecturer-home-page.html"></div>
    </header>

<body>

    <header>
        <div th:include="lecturer-home-page.html"></div>
    </header>
    <div class="container">
        <h1>Course Enrollment List</h1>
        <div>
            <div class="mb-3">
                <label for="searchInput">Search:</label>
                <input type="text" class="form-control" id="searchInput" placeholder="Enter keywords"
                    oninput="filterTable()">
            </div>
            <table id="enrollTable" class="table table-striped">
                <thead>
                    <tr>
                        <th onclick="sortTable('enrollTable', 0)"><button class="transparent-btn"><span
                                    class="sort-text">Class Id</span><i class="fas fa-sort"></i></button></th>
                        <th onclick="sortTable('enrollTable', 1)"><button class="transparent-btn"><span
                                class="sort-text">Course Number</span><i class="fas fa-sort"></i></button></th>
                        <th onclick="sortTable('enrollTable', 2)"><button class="transparent-btn"><span
                                class="sort-text">Course Name</span><i class="fas fa-sort"></i></button></th>
                        <th onclick="sortTable('enrollTable', 3)"><button class="transparent-btn"><span
                                    class="sort-text">Confirmed Class Size</span><i class="fas fa-sort"></i></button>
                        </th>
                        <th onclick="sortTable('enrollTable', 4)"><button class="transparent-btn"><span
                                    class="sort-text">Room No.</span><i class="fas fa-sort"></i></button></th>
                        <th onclick="sortTable('enrollTable', 5)"><button class="transparent-btn"><span
                                    class="sort-text">Class Size</span><i class="fas fa-sort"></i></button></th>
                        <th onclick="sortTable('enrollTable', 6)"><button class="transparent-btn"><span
                                    class="sort-text">Start Date</span><i class="fas fa-sort"></i></button></th>
                        <th onclick="sortTable('enrollTable', 7)"><button class="transparent-btn"><span
                                class="sort-text">End Date</span><i class="fas fa-sort"></i></button></th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="class : ${courseClassList}" id="classRow">
                        <td th:text="${class.classId}"></td>
                        <td th:text="${class.course.courseNum}"></td>
                        <td th:text="${class.course.name}"></td>
                        <td th:text="${class.getConfirmedNumber()}"></td>
                        <td th:text="${class.roomNum}"></td>
                        <td th:text="${class.size}"></td>
                        <td th:text="${class.startDate}"></td>
                        <td th:text="${class.getFormatEndDate()}"></td>

                    </tr>
                </tbody>
            </table>
            <br><br>
           <a th:href="@{/lecturer}"><button>Back</button></a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap.min.js"></script>
    <script>
        function filterTable() {
            // Retrieve the search input value
            const searchInput = document.querySelector('#searchInput').value.toLowerCase();
            const classRows = document.querySelectorAll('#classRow');

            // Loop through class rows and check if they match the search input
            classRows.forEach(function (row) {
                // Retrieve the class information from the row
                const classId = row.cells[0].textContent.toLowerCase();
                const roomNum = row.cells[1].textContent.toLowerCase();
                const startDate = row.cells[2].textContent.toLowerCase();

                // Check if any of the class information matches the search input
                if (classId.includes(searchInput) || roomNum.includes(searchInput) || startDate.includes(searchInput)) {
                    // Show the row if it matches the search input
                    row.style.display = '';
                } else {
                    // Hide the row if it doesn't match the search input
                    row.style.display = 'none';
                }
            });
        }
        
        $(document).ready(function () {
            $('#enrollTable').DataTable({
                searching: false
            });
        });

    </script>
</body>

</html>
