<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Grade A Course</title>
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div th:include="lecturer-home-page.html"></div>
    </header>
	<div class="container">
		<div>
			<h1>Select The Student To Be Graded</h1>
		</div>
		<br/>
		<div>
			<div>
				<h4>Course Details</h4>
	
				<div class="details">
					<label>Course Name:</label> <span th:text="${course.name}"></span>
				</div>
				<div class="details">
					<label>Course Description:</label> <span
						th:text="${course.description}"></span>
				</div>
			</div>
			<br/>
			<div>
				<h4>Class Details</h4>
	
				<div class="details">
					<label>Class ID:</label> <span th:text="${courseClass.classId}"></span>
				</div>
				<div class="details">
					<label>Class Room Number:</label> <span
						th:text="${courseClass.roomNum}"></span>
				</div>
				<div class="details">
					<label>Class Start Date:</label> <span
						th:text="${courseClass.startDate}"></span>
				</div>			
			</div>
			<br/>
		</div>
		<div class="mb-3">
			<label for="searchInput">Search:</label>
			<input type="text" class="form-control" id="searchInput" placeholder="Enter keywords" oninput="filterTable()">
		</div>
		
				<table id="studentTable" class="table table-striped">
					<thead>
						<tr>
							<th onclick="sortTable('studentTable', 0)"><button class="transparent-btn"><span class="sort-text">Student First Name</span><i class="fas fa-sort"></i></button></th>
							<th onclick="sortTable('studentTable', 1)"><button class="transparent-btn"><span class="sort-text">Student Last Name</span><i class="fas fa-sort"></i></button></th>
							<th>Score</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="enrollment: ${enrollmentList}" id="studentRow">
							<td th:text="${enrollment.student.firstName}"></td>
							<td th:text="${enrollment.student.lastName}"></td>
							<td>
								<form th:action="@{/lecturer/gradeStudentList/} + ${enrollment.enrollmentId}" method="post">
								<input type="text" name="score" required />
								<button type="submit">Submit</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
	
		<br><br>
		<a th:href="@{/lecturer}"><button>Back to Home Page</button></a>
	    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap.min.js"></script>
		<script>
			function filterTable() {
				// Retrieve the search input value
				const searchInput = document.querySelector('#searchInput').value
						.toLowerCase();
	
				const studentRows = document.querySelectorAll('#studentRow');
	
				// Loop through student rows and check if they match the search input
				studentRows.forEach(function(row) {
					// Retrieve the admin information from the row
					const firstName = row.cells[1].textContent.toLowerCase();
					const lastName = row.cells[2].textContent.toLowerCase();
					const score = row.cells[3].textContent.toLowerCase();
	
					// Check if any of the student information matches the search input
					if (firstName.includes(searchInput)
							|| lastName.includes(searchInput)
							|| score.includes(searchInput)) {
						// Show the row if it matches the search input
						row.style.display = '';
					} else {
						// Hide the row if it doesn't match the search input
						row.style.display = 'none';
					}
				});
			}

            $(document).ready(function() {
                $('#studentTable').DataTable({
                    searching: false
                });
            });
		</script>
	</div>
</body>

</html>
