<!DOCTYPE html>
<html>
<head>
    <title>Lecturer</title>
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <header>
        <div th:include="lecturer-home-page.html"></div>
    </header>
	<div class="container">
		<div class="row">
			<h1>Class Details</h1>
		</div>
		<br/>

		<h4>Course Details</h4>
		
		<div class="details">
			<label>Course Name:</label> <span th:text="${course.name}"></span>
		</div>
		<div class="details">
			<label>Course Description:</label> <span
				th:text="${course.description}"></span>
		</div>
		<br/>
		
		<div class="mb-3">
			<label for="searchInput">Search:</label>
			<input type="text" class="form-control" id="searchInput" placeholder="Enter keywords" oninput="filterTable()">
		</div>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Enrollment Id</th>
					<th>Student Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Score</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="current, index: ${enrollmentList}" id="classRow">
					<td th:text="${current.enrollmentId}"></td>
					<td th:text="${current.student.studentId}"></td>
					<td th:text="${firstName.get(index.index)}"></td>
					<td th:text="${lastName.get(index.index)}"></td>
					<td th:text="${current.score}"></td>
					<td>
					<a class="btn btn-primary" th:href="@{/lecturer/grade/} + ${current.enrollmentId}">Grade Student</a>
					</td>
				</tr>
			</tbody>
		</table>
		<br><br>
		<button onclick="goBack()">Back</button>
	</div>

	<script>
		function filterTable() {
			// Retrieve the search input value
			const searchInput = document.querySelector('#searchInput').value
					.toLowerCase();

			const classRows = document.querySelectorAll('#classRow');

			// Loop through admin rows and check if they match the search input
			classRows.forEach(function(row) {
				// Retrieve the admin information from the row
				const enrollmentId = row.cells[0].textContent.toLowerCase();
				const studentId = row.cells[1].textContent.toLowerCase();
				const firstName = row.cells[2].textContent.toLowerCase();
				const lastName = row.cells[3].textContent.toLowerCase();
				const score = row.cells[4].textContent.toLowerCase();

				// Check if any of the admin information matches the search input
				if (enrollmentId.includes(searchInput)
						|| studentId.includes(searchInput)
						|| firstName.includes(searchInput)
						|| lastName.includes(searchInput)
						|| score.includes(searchInput)) {
					// Show the row if it matches the search input
					row.style.display = '';
				} else {
					// Hide the row if it doesn't match the search input
					row.style.display = 'none';
				}
			});
		}
		function goBack() {
			window.history.back();
		}
	</script>
</body>

</html>
