<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lecturer Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header>
    <div th:include="lecturer-home-page.html"></div>
  </header>
  <h1>Welcome, <span th:text="${name}">!</span></h1>
  <div class="img-container">
    <img src="image/lecturer.jpeg" alt="Lecturer" class="img-fluid" style="max-width: 45%;">
  </div>
</body>
</html>
