<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<style>
.table-smaller {
	width: 100%;
}

.table-smaller th, .table-smaller td {
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100px; /* Adjust the max-width as desired */
}
</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<h1>Course Enrollment</h1>
		</div>
		<table class="table table-striped table-bordered table-smaller">
			<thead class="table-dark">
				<tr>
					<th>Id</th>
					<th>Lecturer First Name</th>
					<th>Lecturer Last Name</th>
					<th>Lecturer Email</th>
					<th>Lecturer Contact No.</th>
					<th>Lecturer Address</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${lecturer.lecturerId}"></td>
					<td th:text="${lecturer.firstName}"></td>
					<td th:text="${lecturer.lastName}"></td>
					<td th:text="${lecturer.email}"></td>
					<td th:text="${lecturer.contactNo}"></td>
					<td th:text="${lecturer.address}"></td>
				</tr>
			</tbody>
		</table>

		<table class="table table-striped table-bordered table-smaller">
			<thead class="table-dark">
				<tr>
					<th>Class Id</th>
					<th>Confirmed Class Size</th>
					<th>Room Number</th>
					<th>Classroom Size</th>
					<th>Start Date</th>
					<th>Course Id</th>
					<th>Lecturer Id</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="class: ${courseClassList}">
					<td th:text="${class.classId}"></td>
					<td th:text="${class.confirmed}"></td>
					<td th:text="${class.roomNum}"></td>
					<td th:text="${class.size}"></td>
					<td th:text="${class.startDate}"></td>
					<td th:text="${class.course.courseId}"></td>
					<td th:text="${class.lecturer.lecturerId}"></td>
				</tr>
			</tbody>
		</table>

		<table class="table table-striped table-bordered table-smaller">
			<thead class="table-dark">
				<tr>
					<th>Course Name</th>
					<th>Id</th>
					<th>Number</th>
					<th>Description</th>
					<th>Duration</th>
					<th>Credits</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="course: ${courseList}">
					<td th:text="${course.name}"></td>
					<td th:text="${course.courseId}"></td>
					<td th:text="${course.courseNum}"></td>
					<td th:text="${course.description}"></td>
					<td th:text="${course.duration}"> hours</td>
					<td th:text="${course.credits}"></td>
					</tr>
			</tbody>
		</table>

		<table class="table table-striped table-bordered table-smaller">
			<thead class="table-dark">
				<tr>
					<th>No.</th>
					<th>Enrollment Id</th>
					<th>Enrollment Status</th>
					<th>Score</th>
					<th>Class Id</th>
					<th>Student Id</th>
				</tr>
			</thead>
			<tbody>
				@{int rowNumber = 1}
				<tr th:each="enrollment: ${enrollmentList}">
					<td th:text="${rowNumber}"></td>
					<td th:text="${enrollment.enrollmentId}"></td>
					<td th:text="${enrollment.enrollmentStatus}"></td>
					<td th:text="${enrollment.score}"></td>
					<td th:text="${enrollment.courseClass.classId}"></td>
					<td th:text="${enrollment.student.studentId}"></td>
					@{rowNumber = rowNumber + 1}
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>