<!DOCTYPE html>

<head>
    <title>EnrolList</title>
    <link rel="stylesheet" href="/css/detail.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/student-enrollment-tables.css}"/>
    <link rel="stylesheet" href="/css/student-enrollment-list.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <style>
        #calendar {
            padding: 60px;
            max-width: 800px;  /* Modify these values */
            max-height: 600px; /* according to your needs */
            margin: 0 auto; /* Center the calendar */
        }
        .event-description {
            color: white; /* Set text color to white */
        }
    </style>

</head>

<body>
<header>
    <div th:include="studentPage.html"></div>
</header>
<div class="container">
    <h1>EnrollmentStatus</h1>
    <table class="table table-striped"id="enrolTable" >
        <thead>
        <tr>
            <th>Courses</th>
            <th>StartTime</th>
            <th>EndTime</th>
            <th>ClassRoom</th>
            <th>EnrollmentStatus</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="enrol : ${enrollments}">
            <td th:text="${enrol.CourseClass.Course.name}"></td>
            <td th:text="${enrol.CourseClass.getFormatStartDate()}"></td>
            <td th:text="${enrol.CourseClass.getFormatEndDate()}"></td>
            <td th:text="${enrol.CourseClass.roomNum}"></td>
            <td th:text="${enrol.enrollmentStatus}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="calendar"></div>
</body>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>

<script th:inline="javascript">

    $(document).ready(function () {
        var table = $('#enrolTable').DataTable({
            "dom": '<"top"B>fltr<"bottom"ip><"clear">',
            "lengthChange": false, // Disable the length change option
            "pageLength": 5, // Set the initial number of rows per page
            "search": true
        });

        // Apply DataTable options
        table.on('draw', function () {
            var info = table.page.info();
            $('#pageInfo').text('Page ' + (info.page + 1) + ' of ' + info.pages);
        });
    });


    document.addEventListener('DOMContentLoaded', function() {
        // Retrieve the enrollment data from the table
        const enrollmentData = [];
        const enrollmentRows = document.querySelectorAll("tbody tr");
        enrollmentRows.forEach(function(row) {
            const courseName = row.cells[0].textContent.trim();
            const startDate = row.cells[1].textContent.trim();
            const endDate = row.cells[2].textContent.trim();
            const roomNum = row.cells[3].textContent.trim();
            const enrollmentStatus = row.cells[4].textContent.trim();

            // Filter events based on enrollment status
            if (enrollmentStatus === "CONFIRMED") {

                const event = {
                    title: courseName,
                    start: startDate,
                    end: endDate,
                    description: `Room: ${roomNum}`,
                };

                // Add the event to the enrollment data array
                enrollmentData.push(event);
            }
        });

        // initialize fullcalendar
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek'
            },
            events: enrollmentData,
            eventDidMount: function(info) {
                // Display the event description directly on the calendar
                const descriptionElement = document.createElement('div');
                descriptionElement.classList.add('event-description');
                descriptionElement.innerHTML = info.event.extendedProps.description;
                info.el.appendChild(descriptionElement);
            }
        });
        calendar.render();
    });
</script>
</html>
