<!DOCTYPE html>

<head>
    <title>My Grades</title>
    <link rel="stylesheet" href="/css/detail.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/student-enrollment-tables.css}"/>
    <link rel="stylesheet" href="/css/student-enrollment-list.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/css/detail.css">

    <style>
      .filter-container {
          display: flex;
          align-items: flex-end;
      }

      .filter-label {
          font-size: 16px;
          margin-right: 10px;
      }

      .datepicker-wrapper {
          width: 100px;
          margin-right: 10px;
      }

      .datepicker-input {
          height: 20px;
      }

      .clear-filter-button {
          padding: 2px;
      }

  </style>
</head>

<body>
  <header>
    <div th:include="studentPage.html"></div>
  </header>
  <div class="container" >
      <div class="details">
          <h3>GPA: <span th:text="${#numbers.formatDecimal(gpa, 1, 'POINT', 2, 'POINT')}"></span></h3>
      </div>




      <table class="table table-striped" id="courseTable">
          <thead>
          <tr>
              <th>Course Number</th>
              <th>Course Name</th>
              <th>Score</th>
              <th>Credits</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="courseAnds : ${courseAndscore}">
              <td th:text="${courseAnds.key.courseNum}"></td>
              <td th:text="${courseAnds.key.name}"></td>
              <td th:text="${courseAnds.value}"></td>
              <td th:text="${courseAnds.key.credits}"></td>
          </tr>
          </tbody>
      </table>

  </div>



</body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script th:inline="javascript">


  $(document).ready(function () {
    $('#courseTable').DataTable({
        dom: 'Brtip',
        searching: false,
        buttons: [
                'copy',
                'excel',
                'csv',
                'pdf'
            ],
    initComplete: function () {
    // Center-align the pagination controls
    $('.dataTables_paginate').addClass('text-center');
         }
    });
    // Apply DataTable options
    table.on('draw', function () {
        var info = table.page.info();
        $('#pageInfo').text('Page ' + (info.page + 1) + ' of ' + info.pages);
    });
});
</script>
</html>
