<!DOCTYPE html>

<head>
    <title>ClassList</title>
    <link rel="stylesheet" href="/css/detail.css">
</head>

<body>
  <header>
    <div th:include="studentPage.html"></div>
  </header>
  <div class="container" >
    <div class="details">
      GPA: <span th:text="${gpa}"></span>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Courses</th>
            <th>Score</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="courseAndscore : ${courseAndscore}">
            <td th:text="*{courseAndscore.key}"></td>
            <td th:text="*{courseAndscore.value}"></td>
        </tr>
        </tbody>
    </table>
  </div>



</body>
</html>
