<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/student-enrollment-tables.css}"/>

    <style>
        /* left align override for name and description */
        table th:nth-child(2),
        table th:nth-child(3),
        table td:nth-child(2),
        table td:nth-child(3) {
            text-align: left;
        }

    </style>
</head>
<body>
 

<div class="container">

    <h1>Course Registration</h1>

    <div class="mb-3">
        <label for="searchInput">Search:</label>
        <input type="text"
               class="form-control"
               id="searchInput"
               placeholder="Search by Course Number, Name or Description"
               oninput="filterTable()">
    </div>

    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Course Number</th>
            <th>Name</th>
            <th>Description</th>
            <th>Credits</th>
            <th>Duration</th>
            <th>View Available Classes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${coursesToRegister}" id="courseRow">
            <td th:text="${course.courseNum}"></td>
            <td th:text="${course.name}"></td>
            <td th:text="${course.description}"></td>
            <td th:text="${course.credits}"></td>
            <td th:text="${course.duration}"></td>
            <td>
                <form th:action="@{'/student/viewClasses/' + ${course.courseId}}" method="get">
                    <button type="submit" class="btn btn-primary">View Classes</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>
<script>
    function filterTable() {
        // Retrieve the search input value
        const searchInput = document.querySelector('#searchInput').value.toLowerCase();

        // Retrieve all admin rows
        const adminRows = document.querySelectorAll('#courseRow');

        // Loop through admin rows and check if they match the search input
        adminRows.forEach(function (row) ){
            // Retrieve the admin information from the row
            const courseNum = row.cells[0].textContent.toLowerCase();
            const name = row.cells[1].textContent.toLowerCase();
            const description = row.cells[2].textContent.toLowerCase();

            // Check if any of the admin information matches the search input
            if (
                courseNum.includes(searchInput) ||
                name.includes(searchInput) ||
                description.includes(searchInput)
            ) {
                // Show the row if it matches the search input
                row.style.display = '';
            } else {
                // Hide the row if it doesn't match the search input
                row.style.display = 'none';
            }
        }
    }

