<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Course Registration</title>
  <link rel="stylesheet" th:href="@{/css/student-class-course.css}" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
  <h1>Course Registration</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Course ID</th>
      <th>Course Number</th>
      <th>Name</th>
      <th>Description</th>
      <th>Credits</th>
      <th>Duration</th>
      <th>View Available Classes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${coursesToRegister}">
      <td th:text="${course.courseId}"></td>
      <td th:text="${course.courseNum}"></td>
      <td th:text="${course.name}"></td>
      <td th:text="${course.description}"></td>
      <td th:text="${course.credits}"></td>
      <td th:text="${course.duration}"></td>
      <td>
        <form th:action="@{'/student/viewClasses/' + ${course.courseId}}" method="get">
          <button type="submit" class="btn btn-primary">View Classes</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
