<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sidebar and Navbar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header>
    <div th:include="index.html"></div>
  </header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">Team 6 Java</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/home">Home</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 sidebar">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><h4>Welcome: <span th:text="${curntStudent.getFullName()}"></span></h4></text></li>
          <li><a class="manage-link" th:href="@{/student/selfInformation}">SelfInformation</a></li>
          <li><a class="manage-link" th:href="@{/student/enrollingCourses}">View Courses</a></li>
          <li><a class="manage-link" th:href="@{/student/registerCourses}">Register for courses</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
