<!DOCTYPE html>
<html>
<head>
    <title>User Details</title>
    <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
    <header>
        <div th:include="adminPage.html"></div>
    </header>
    <div class="container">
        <h1>User Details</h1>
        <div class="details">
            <label>Username:</label>
            <span th:text="${user.username}"></span>
        </div>
        <div class="details">
            <label>Password:</label>
            <span th:field="${user.password}" th:attr="placeholder=#{placeholder.password}" th:utext="${'********'}"></span>
        </div>
        
        <div class="actions">
            <a class="btn btn-info" th:href="@{update/{username}(username=${user.username})}">Edit</a>
            <a class="btn btn-danger" th:href="@{delete/{username}(username=${user.username})}" onclick="return confirmDelete()">Delete</a>
        </div>
        <button onclick="goBack()">Back</button>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            function confirmDelete() {
                return confirm('Are you sure you want to delete this admin?');
            }
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
</body>

