<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <title>Create User</title>
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
    <header>
        <div th:include="adminPage.html"></div>
    </header>

    <form th:action="@{/admin/user/create}" th:object="${user}" method="post">
        <button class="icon-button" onclick="goBack()">
            <i style="font-size:30px" class="fa">&#xf137;</i>
        </button>
        <h1>Create User</h1>
        <label for="username">Username:</label> <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                                      style="color: #bf1111; font-size: 12px;"></span>
        <input type="text" id="username" th:field="*{username}" required/><br/>
        <br/>

        <label for="password">Password:</label> <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                                      style="color: #bf1111; font-size: 12px; text-align: right;"></span>
        <input type="text" id="password" th:field="*{password}" required/><br/>
        <br/>

        <input type="submit" value="Create"/>
        <br>
    </form>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
