<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Update User</title>
    <link rel="stylesheet" href="/css/update.css">
</head>
<body>
    <div class="container">
        <h1>Update User</h1>
        <form th:action="@{/user/update/{username}(username=${user.username})}" th:object="${user}" method="post">

            <label for="username">Username:</label>
            <input type="text" name="username" th:value="${user.username}" required><br>
            <label for="password">Password:</label><br>
            <input type="password" name="password" th:value="${user.password}" required><br>
    
            <input type="submit" value="Update User">
        </form>
    </div>
    
</body>
</html>
